@model AuctionPortal.Models.View.AuctionView;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <img src="data:image/png;base64,@Model.base64Data" class="img-fluid" style="float: right; height: 300px; width: 300px"/>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.auction.name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.auction.name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.auction.description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.auction.description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.auction.startingPrice)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.auction.startingPrice)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.auction.creationDateTime)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.auction.creationDateTime)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.auction.openingDateTime)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.auction.openingDateTime)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.auction.closingDateTime)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.auction.closingDateTime)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.auction.state)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.auction.state)
        </dd>
    </dl>
</div>
<br>
<br>
<hr>
<br>
<div>
    <form class="form-inline" asp-controller="User">
        <input type="submit" asp-action="Approve" asp-route-id="@Model.auction.id" class="btn btn-outline-success mr-5" value="Approve">
        <input type="submit" asp-action="Delete" asp-route-id="@Model.auction.id" class="btn btn-outline-danger" value="Delete">
    </form>
</div>
<br>
<br>
<div>
    <a asp-action="ManageAuctions">Back to List</a>
</div>
