@model AuctionPortal.Models.View.AuctionView;

@using Microsoft.AspNetCore.Identity;
@using AuctionPortal.Models.Database;

@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;

@{
    await Html.RenderPartialAsync ("SignalRScriptsPartial");
}

@{
    string timerId = "timer" + Model.auction.id;
    string auctionId = "auction" + Model.auction.id;
}

<div class="card text-center">
    <div class="card-header"><a asp-action="Details" asp-route-id="@Model.auction.id">@Model.auction.name</a></div>
    <div class="card-body">
        <img src="data:image/png;base64,@Model.base64Data" / style="height: 150px; width: 150px;">
        <h4 id="@timerId">@Model.remainingTime</h4>
        <h4>$ @Model.auction.accession</h4>
        <!--Dodati korisnika koji je poslednji licitirao-->
    </div>
    @if(SignInManager.IsSignedIn(User)) {
        <div class="card-footer"><button class="btn btn-warning" onclick="bid(@Model.auction.id)">BID</button></div>
    }
</div>

<script>
    v = setInterval(function() {
        id = "#" + "@timerId";
        var string = $(id).text ( )

        var array = string.split ( ":" )

        var hours = parseInt ( array[0] );
        var minutes = parseInt ( array[1] );
        var seconds = parseInt ( array[2] );

        var timeInSeconds = hours * 3600 + minutes * 60 + seconds - 1;

        seconds = timeInSeconds % 60;
        minutes = Math.floor ( timeInSeconds / 60 ) % 60;
        hours = Math.floor ( timeInSeconds / 3600 );

        if(seconds == 0 && minutes == 0 && hours == 0) {
            closeAuction(@Model.auction.id);
        }

        if ( seconds < 10 ) {
            seconds = "0" + seconds;
        }

        if ( minutes < 10 ) {
            minutes = "0" + minutes;
        }

        if ( hours < 10 ) {
            hours = "0" + hours;
        }

        $(id).text ( hours + ":" + minutes + ":" + seconds );
    }, 1000);

    object = {
        interval: v,
        auctionId: @Model.auction.id
    };

    intervals.push(object);
</script>