@model AuctionPortal.Models.View.SearchModel;

@if(Model.numPages != 0) {
    <div class="col-sm-12">
        <ul class="pagination justify-content-center">
            @if(Model.currPage != 1) { 
                    <li id="pagePrev" class="page-item"><button class="page-link" onclick="changePage(0, @Model.numPages)">Previous</button></li> 
            }
            else {
                <li id="pagePrev" class="page-item disabled"><button class="page-link" onclick="changePage(0, @Model.numPages)">Previous</button></li>
            }
            @{
                string li_class = "";
                for(int i = 0; i < Model.numPages; i++) {
                    li_class = "page-item";
                    if(i + 1 == Model.currPage) {
                        li_class += " active";
                    }
                    int pageNum = i + 1;
                    string id = "page" + pageNum.ToString();
                    <li id="@id" class="@li_class"><button class="page-link" onclick="changePage(@pageNum, @Model.numPages)">@pageNum</button></li>
                }
            }
            @if(Model.currPage != Model.numPages) {
                <li id="pageNext" class="page-item"><button class="page-link" onclick="changePage(@Model.numPages + 1, @Model.numPages)">Next</button></li>
            }
            else {
                <li id="pageNext" class="page-item disabled"><button class="page-link" onclick="changePage(@Model.numPages + 1, @Model.numPages)">Next</button></li>
            }
        </ul>
    </div>
}